@namespace StationProject.Components.UI

<div class="footer f-column gap-20" style="padding: 30px 60px; background: #E8ECF2;">
    <div class="f-row space-between">
        <div class="f-row" style="gap: 60px">
            <div class="f-column">
                <a href="#" class="footer-link-important">Новости</a>
                <a href="#" class="footer-link">Контакты</a>
                <a href="#" class="footer-link">Вакансии</a>
            </div>
            <div class="f-column">
                <a href="#" class="footer-link-important">О нас</a>
                <a href="#" class="footer-link">Вакансии</a>
            </div>
        </div>

        <div class="f-column">
            <span class="follow-us-text">Следите за нами</span>
            <div class="f-row gap-10"></div>
        </div>

        <div class="f-column">
            <a href="#" class="footer-link-important">Поддержка</a>
            <a href="#" class="footer-link" style="margin-bottom: 10px">Обратная связь</a>
            <a href="#" class="underlined footer-link">Условия обмена и возврата товара</a>
            <a href="#" class="underlined footer-link">Политика конфиденциальности</a>
        </div>
    </div>

    <div style="height: 1px; background: #8FA5AE; width: 100%;"></div>

    <div class="f-row space-between">
        <span>ООО StationProject</span>
        <a class="footer-link" href="#top">Вернуться наверх ^</a>
    </div>
</div>