@rendermode InteractiveServer

@namespace StationProject.Components.UI

@inject IJSRuntime JS

<div class="footer f-column gap-20" style="padding: 30px 60px; background: #E8ECF2;">
    <div class="fw-row space-between gap-20">
        <div class="fw-row" style="gap: 60px">
            <div class="f-column">
                <a href="#" class="footer-link-important">Новости</a>
                <a href="#" class="footer-link">Контакты</a>
            </div>
            <div class="f-column">
                <a href="\AboutPage" class="footer-link-important">О нас</a>
                <a href="https://kurgan.hh.ru/search/vacancy?hhtmFrom=main&hhtmFromLabel=vacancy_search_line&search_field=name&search_field=company_name&search_field=description&text=%D1%80%D0%B0%D0%B7%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D1%87%D0%B8%D0%BA+C%23&enable_snippets=false&L_save_area=true" class="footer-link">Вакансии</a>
            </div>
        </div>

        <div class="f-column gap-10">
            <span class="follow-us-text">Следите за нами</span>
            <div class="f-row gap-10">
                <img style="width: 28px; height: 28px" src="images/tg.svg"/>
                <img style="width: 28px; height: 28px" src="images/vk.svg"/>
                <img style="width: 28px; height: 28px" src="images/whatsapp.svg"/>
            </div>
            
            <span class="follow-us-text">Способы оплаты</span>
            <div class="f-row gap-10">
                <img style="width: 32px; height: 32px" src="images/mir-logo.svg"/>
                <img style="width: 32px; height: 32px" src="images/tpay.svg"/>
                <img style="height: 32px" src="images/sberpay.svg"/>
            </div>
        </div>

        <div class="f-column">
            <a href="#" class="footer-link-important">Поддержка</a>
            <a href="#" class="footer-link" style="margin-bottom: 10px">Обратная связь</a>
            <a href="#" class="underlined footer-link">Условия обмена и возврата товара</a>
            <a href="#" class="underlined footer-link">Политика конфиденциальности</a>
        </div>
    </div>

    <div style="height: 1px; background: #8FA5AE; width: 100%;"></div>

    <div class="fw-row space-between">
        <span>ООО StationProject</span>
        <a class="footer-link" @onclick="@(async () => await ScrollToElementId("#top"))">Вернуться наверх ^</a>
    </div>
</div>

@code {
    private async Task ScrollToElementId(string elementId)
    {
        await JS.InvokeVoidAsync("scrollToTop");
    }
}

<script>
    window.scrollToTop = function () {window.scrollTo({top: 0, behavior: 'smooth'});};
</script>