@rendermode InteractiveServer

@namespace StationProject.Components.UI

<RadzenStack Style="padding: 30px 60px; background: #E8ECF2;"
             Orientation="Orientation.Horizontal"
             AlignItems="AlignItems.Center"
             Wrap="FlexWrap.Wrap"
             JustifyContent="JustifyContent.SpaceBetween">

    <NavLink href="/">
        <span class="site-header">StationProject</span>

        <AuthorizeView Roles="User">
            <span class="sub-header">Пользователь</span>
        </AuthorizeView>
        <AuthorizeView Roles="Vendor">
            <span class="sub-header">Продавец</span>
        </AuthorizeView>
        <AuthorizeView Roles="Admin">
            <span class="sub-header">Админ</span>
        </AuthorizeView>
    </NavLink>

    <RadzenStack
        Orientation="Orientation.Horizontal"
        AlignItems="AlignItems.Center"
        Wrap="FlexWrap.Wrap"
        Gap="20px">

        <AuthorizeView>
            <NavLink class="nav-tab" href="Admin">
                <div class="f-nav-item">
                    <span>Панель разработчика</span>
                </div>
            </NavLink>
        </AuthorizeView>

        <NavLink class="nav-tab" href="Cart">
            <div class="f-nav-item">
                <img src="images/shopping_bag_24dp.svg" alt="cart" style="width: 36px;"/>
                <span>Корзина</span>
            </div>
        </NavLink>

        <AuthorizeView>
            <Authorized>
                <NavLink class="nav-tab" href="Account/Manage">
                    <div class="f-nav-item">
                        <img src="images/person_24dp.svg" alt="profile"/>
                        <span>Профиль</span>
                    </div>
                </NavLink>
            </Authorized>

            <NotAuthorized>
                <NavLink class="nav-tab" href="Account/Login">
                    <div class="f-nav-item">
                        <RadzenImage Path="images/person_24dp.svg" AlternateText="Login"/>
                        <span>Войти</span>
                    </div>
                </NavLink>
                <NavLink class="nav-tab" href="Account/Register">
                    <div class="f-nav-item">
                        <RadzenImage Path="images/person_24dp.svg" AlternateText="Register"/>
                        <span>Регистрация</span>
                    </div>
                </NavLink>
            </NotAuthorized>
        </AuthorizeView>
    </RadzenStack>
</RadzenStack>