@inherits LayoutComponentBase
@layout StationProject.Components.Layout.MainLayout
@inject NavigationManager NavigationManager

<article class="content px-4" style="height: 100%; justify-content: center; align-content: center">
    @if (HttpContext is null)
    {
        <p>Loading...</p>
    }
    else
    {
        @Body
    }
</article>

@code {

    [CascadingParameter]
    private HttpContext? HttpContext { get; set; }

    protected override void OnParametersSet()
    {
        if (HttpContext is null)
        {
            // If this code runs, we're currently rendering in interactive mode, so there is no HttpContext.
            // The identity pages need to set cookies, so they require an HttpContext. To achieve this we
            // must transition back from interactive mode to a server-rendered page.
            NavigationManager.Refresh(forceReload: true);
        }
    }

}

