@page "/AboutPage"

<div style="margin: 20px 60px">

    <h1>О Компании StationProject</h1>
    
    <div class="highlight">
        <p>Добро пожаловать в <strong>StationProject</strong> — ваш надежный интернет-магазин канцелярских товаров!</p>
    </div>

    <p>Мы специализируемся на продаже высококачественной канцелярии для офисов, учебных заведений и домашних нужд. Наша миссия — предоставить нашим клиентам широкий ассортимент товаров, которые помогут сделать процесс работы и учебы более удобным и эффективным.</p>

    <p>В StationProject вы найдете все, что нужно для успешной работы и учебы: от ручек и тетрадей до профессиональных офисных принадлежностей. Мы тщательно отбираем продукцию, чтобы гарантировать высокое качество и доступные цены. Наша команда стремится к тому, чтобы каждый клиент остался доволен своим выбором.</p>

    <p>Мы понимаем, как важно иметь под рукой все необходимые инструменты для работы и учебы, поэтому предлагаем быструю доставку и удобные способы оплаты. Благодаря нашему простому и интуитивно понятному интерфейсу, вы сможете легко найти нужные товары и оформить заказ всего за несколько кликов.</p>

    <div class="highlight">
        <p>Присоединяйтесь к числу наших довольных клиентов и откройте для себя мир канцелярских принадлежностей с StationProject. Мы рады предложить вам не только качественные товары, но и отличный сервис!</p>
    </div>
</div>

<style>
        h1 {
            color: #2c3e50;
        }
        p {
            margin-bottom: 15px;
        }
        .highlight {
            background-color: #f9f9f9;
            padding: 10px;
            border-left: 5px solid #3498db;
        }
</style>

AboutPage.razor
AdminPage.razor
AdminPage.razor.cs
AdminPage.razor.css
AdminTabs
CartPage.razor
CartPage.razor.css
CatalogPage.razor
CatalogPage.razor.cs
CatalogPage.razor.css
ErrorPage.razor
HomePage.razor
HomePage.razor.css
HomePage.razor.js
OrdersBlock.razor
OrdersBlock.razor.cs
OrdersBlock.razor.css
ProductPage.razor
ProductPage.razor.cs
ProductPage.razor.css
ProductPage.razor.js