

.footer * {
    color: #052c3d;
    line-height: 27px;
}

a.footer-link-important {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

.footer-link {
    font-size: 16px;
    color: #052c3d;
    text-decoration: none;
}

.underlined {
    text-decoration: underline;
}

.name-focusing-outlined {
    color: #8FA5AE; font-size: 15px
}

.focusing-outlined {
    border: 1px solid #8FA5AE;
    border-radius: 8px; 
    transition: border-color 0.3s;
    font-size: 20px;
    padding: 10px;
    vertical-align: center;
}

.focusing-outlined:focus {
    border-color: #3973E1; 
}

.category-circle {
    border: 1px solid #8FA5AE;
    border-radius: 24px;
    transition: background-color 0.3s, color 0.3s;
    font-size: 20px;
    padding: 6px 16px;
    vertical-align: center;
    display: inline-block;
}

.category-circle:hover {
    background-color: #8FA5AE;
    color: white;
}

.category-circle-selected {
    background-color: #3973E1;
    color: #E4E9F1;
    border-radius: 24px;
    font-size: 20px;
    padding: 6px 16px;
    vertical-align: center;
    display: inline-block;
}